@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
  font-family: 'Syne Mono', monospace;
}

.landing {
  color: rgb(244, 250, 250);
  font-size: 60px;
  text-shadow: 2px 2px 4px #000000;
}

.enter {
  color: rgb(246, 241, 241);
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.enter:hover {
  color: rgb(206, 176, 176);
}

#login, #signup {
  margin-right: 2%;
}

.potion {
  display: inline-block;
}